/* Global colors
	font = #555655
	nav font = #2b3e51
	nav border-bottom = #020202
	light blue = #00a9cd
	dark blue = #007e99
	orange = #ea4b36
	footer = #2d2d2d
*/

img a {
	border: none;
	outline: none;
}

a {
	border: none;
	outline: none;
}

/* Global Styles */
body, html {
	background-color: #f5f6f6;
	color: #555655;
	font-size: 16px;
	line-height: 1.6em;
}

a:active {
	outline: none;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.row-padding {
	padding: 60px 0;
}

a.btn-lg {
	font-size: 30px;
	border-radius: 10px;
}

h1 {
	margin-top: 10px;
	font-size: 30px;
}

a {
	color: #e23b33;
}

p.headline1 {
	font-size: 40px;
	line-height: 1.25em;
}

p.headline2 {
	font-size: 32px;
	line-height: 1.5em;
	padding-bottom: 20px;
}

p.headline3 {
	font-size: 20px;
	font-weight: 500;
	line-height: 1em;
}

p.headline4 {
	font-size: 17px;
	font-weight: 500;
	line-height: 1em;
}

p.headline5 {
	font-size: 42px;
	line-height: 1.5em;
	font-weight: 100;
	padding: 20px 0;
}

p.headline6 {
	color: #007e99;
	font-size: 20px;
	font-weight: 500;
	line-height: 1em;
	padding: 30px 0;
}

.btn {
	margin-bottom: 15px;
}

dt {
	padding-top: 10px;
}
dd {
	padding-left: 8px;
}

/* Navigation */
.nav > li {
	float: left;
}

.nav > li > a {
	padding: 0 0 10px 30px;
}

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: inherit;
}

.navbar {
	display: block;
	margin-bottom: 0;
	border-bottom: 2px #020202 solid;
	background-color: #fff;
	height: 160px;
}

.navbar-header {
	width: 100%;
}

.navbar-container {

	float: right;
}

.navbar-container p {
	font-size: 20px;
}

a.navbar-brand img {
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 18px;
	z-index: 1;
}

.navbar-nav > li > a {
	font-size: 20px;
	color: #2b3e51;
}

.navbar-container p {
	margin-top: 30px; /* phone number in top right of navigation */
	font-size: 25px;
	font-weight: 700;
}

button.nav-btn {
	margin-top: -15px;
	margin-bottom: -10px;
}

.contact-form {
	display: block;
	width: 450px;
	padding: 15px;
	margin: 20px;
	float: right;
	border: 2px #ddd solid;
}

/* Banners */
#banner-top {
	position: relative;
	display: block;
	background-color: #00a9cd;
	color: #fff;
	padding-top: 40px;
}

#banner-top-cta {
	position: relative;
	display: block;
	background-color: #007e99;
	border-bottom: 1px #020202 solid;
	color: #fff;
	padding-top: 10px;
}

.phone-icon {
	padding-right:25px;
}

.white {
	background-color: #fff;
	color: #000;
	border-right: 1px #aaa solid;
	border-left: 2px #aaa solid;
	border-bottom: 1px #aaa solid;
	max-width: 1176px;
}

#banner-middle {
	position: relative;
	display: block;
	background-color: #007e99;
	color: #fff;
	padding-bottom:60px;
}

.resource {
	background-color: #fff;
}

.resource > .col-md-10 > .row > .col-md-4 {
	background-color: #edf1f2;
	padding: 10px;
	border: 5px #fff solid;
	min-height: 130px;
}

.resource > .col-md-10 > .row > .col-md-4 > img {
	padding-right: 15px;
	margin-top: 20px;
}

.resource > .col-md-10 > .row > .col-md-4 > p {
	line-height: 1.15em;
}

.resource > .col-md-10 > .row > .col-md-4 > p.desc {
	font-size: 14px;
}

.resource-top {
	padding-top:60px;
}

.resource-bottom {
	padding-bottom:60px;
}

blockquote {
	border: none;
	position: relative;
	padding: 30px 70px 30px 70px;
	border-radius: 10px;
	background: #fff;
	color: #007e99;
	font-size: 20px;
	line-height: 1.5em;
	font-style: italic;
	font-weight: 300;
	margin: 0 0 20px;
	border-left: 5px solid #fff;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 40px;
	-webkit-margin-end: 40px;
}

blockquote:before {
	content: '“';
	top: 14px;
	left: 20px;
	position: absolute;
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.2);
}

blockquote:after {
	content: '”';
	bottom: 14px;
	right: 20px;
	position: absolute;
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 0;
	color: rgba(0, 0, 0, 0.2);
}

b.left {
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid #ffffff;
	font-size: 0px;
	line-height: 0px;
	display: inline-block;
	position: absolute;
	left: 80%;
	bottom: -30px;
	margin-left: -30px;
	z-index: 10;
}

b.right {
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid #ffffff;
	font-size: 0px;
	line-height: 0px;
	display: inline-block;
	position: absolute;
	right: 75%;
	bottom: -30px;
	margin-left: -30px;
	z-index: 10;
}

b {
	color: #555;
	font-weight: 500;
}

.get-started {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px 5px 0 5px;
	margin-top: 30px;
}

.get-started p {
	color: #555655;
	margin-bottom: 0;
	padding: 6px 6px 0 6px;
}

.get-started .btn {
	margin-bottom: 10px;
}

#banner-bottom {
	position: relative;
	display: block;
	background-color: #007e99;
	color: #fff;
	padding: 30px 0;
}

.bottom-content {
	padding: 60px 0;
}

.footer {
	min-height: 150px;
	background-color: #2d2d2d;
	color: #fff;
}

.footer > .container {
	margin-top: 40px;
}

.footer p {
	color: #999;
	line-height: 0.75em;
}

.footer p.footer-nav {
	margin-top: 25px;
	margin-bottom: 40px;
}

address {
	color: #999;
}

.footer a {
	padding-left: 30px;
	color: #999;
}

iframe {width: 1000px; min-height: 500px;}
iframe.map {width: 57%; min-width: 500px; min-height: 300px; margin-top: 30px;}

/* carousel */
.carousel-inner {
	min-height: 336px;
}
.carousel-control {
	position: absolute;
	top: 48%;
	left: -25px;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 700;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	background: #222222;
	border: 3px solid #e1e1e1;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.carousel-control.right {
	right: -25px;
	left: auto;
}
.carousel-control .icon-prev {
	width: 30px;
	height: 30px;
	margin-top: -17px;
	margin-left: -16px;
	font-size: 30px;
}
.carousel-control .icon-next {
	width: 30px;
	height: 30px;
	margin-top: -17px;
	margin-left: -14px;
	font-size: 30px;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity 6s;
  -moz-transition-property: opacity 6s;
  -o-transition-property: opacity 6s;
  transition-property: opacity 6s;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/* Plan Panels */
.panel {

}

.panel-bronze {
 */
}

.panel-silver {

}

.panel-gold {

}

.panel-platinum {

}

form { display: block; padding-bottom: 40px; }
fieldset{ text-align: left; }
fieldset label,fieldset input,fieldset select{ display: block; }
fieldset input,fieldset select{ margin-bottom: 20px; width: 100%; }
fieldset button{ margin-bottom: 30px; display: inline-block;}

